<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#" th:href="@{/dashboard}">
                <i class="fas fa-briefcase me-2"></i>
                RevWorkForce
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <!-- Admin Menu -->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/dashboard}">
                            <i class="fas fa-tachometer-alt me-1"></i>
                            Admin Dashboard
                        </a>
                    </li>
                    
                    <!-- Manager Menu -->
                    <li class="nav-item" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                        <a class="nav-link" th:href="@{/manager/dashboard}">
                            <i class="fas fa-users me-1"></i>
                            Team Management
                        </a>
                    </li>
                    
                    <!-- Employee Menu -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/dashboard}">
                            <i class="fas fa-user me-1"></i>
                            My Dashboard
                        </a>
                    </li>
                </ul>
                
                <ul class="navbar-nav">
                    <!-- User Info -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                           data-bs-toggle="dropdown">
                            <i class="fas fa-user-circle me-1"></i>
                            <span sec:authentication="name">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" th:href="@{/employee/profile}">
                                    <i class="fas fa-user me-2"></i>My Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/change-password}">
                                    <i class="fas fa-key me-2"></i>Change Password
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger" th:href="@{/logout}">
                                    <i class="fas fa-sign-out-alt me-2"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>